.main-container {
    justify-content: left;
    align-items: left;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 50px;
    color: rgb(2, 0, 99)
}