.progress-bar {
    background-color: transparent;
    display: inline;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    & i {
        margin-right: 5px;
        font-size: 0.3em;
        color: rgb(80, 80, 80);
    }
}

.bar {
    background: rgb(170, 170, 170);
    border-radius: 1px;
    display: inline-block;
    height: 8px;
    margin-right: 1px;
    width: 20px;
}