<input  class="form-control" placeholder="Enter password" type="password" (ngDoCheck)="ngDoCheck($event)" minlength="6" maxlength="20" [(ngModel)]='password'>
<!-- (paste)="onPaste($event)" -->
<div>
    <ul class="progress-bar">
        <li class="bar" [style.background-color]="getColor(bar)" *ngFor="let bar of bars"></li>
    </ul>
</div>